@import '../../sass/mixins'

.skills
    height: 120vh
    display: flex
    padding: 30vh 10vh
    gap: 20vh
    position: relative
    &::before
        @include before-after
        @include zero-hundred
        background-color: var(--background-color-1)
        transform: skewY(var(--skew))

    &__icon
        height: 4vh
        width: 4vh
        &--frontend
            fill: var(--color-main-1)

        &--backend
            fill: var(--color-main-2)

        &--grafika
            fill: var(--color-main-3)
