@import '../../sass/mixins'

.skills
    height: 120vh
    display: flex
    padding: 30vh 10vh
    gap: 20vh
    position: relative
    &::before
        @include before-after
        @include zero-hundred
        background-color: var(--background-color-1)
        transform: skewY(var(--skew))

.icon
    height: 4vh
    width: 4vh
    &_frontend
        composes: icon
        fill: var(--color-main-1)

    &_backend
        composes: icon
        fill: var(--color-main-2)

    &_graphics
        composes: icon
        fill: var(--color-main-3)
