@keyframes crystal-move
    0%
        transform: translate(0, 0) rotateZ(0deg)
    25%
        transform: translate(10%, 10%) rotateZ(6deg)
    50%
        transform: translate(0, 20%) rotateZ(0deg)
    75%
        transform: translate(-10%, 10%) rotateZ(-6deg)
    100%
        transform: translate(0, 0) rotateZ(0deg)

.crystal_wrapper
    position: absolute
    &:nth-of-type(2)
        top: 18%
        left: 8%
        width: 28vh

    &:nth-of-type(3)
        top: 54%
        left: 78%
        width: 18vh
        & .crystal
            transform: rotateZ(210deg) scaleX(1)

    &:nth-child(4)
        top: 4%
        left: 63%
        width: 25vh
        & .crystal
            transform: rotateZ(350deg) scaleX(1)

    &:nth-child(5)
        top: 2%
        left: 22%
        width: 16vh
        & .crystal
            transform: rotateZ(296deg) scaleX(-1)

    &:nth-child(6)
        top: 80%
        left: 90%
        width: 10vh
        & .crystal
            transform: rotateZ(180deg) scaleX(-1)

    &:nth-child(7)
        top: 16%
        left: 60%
        width: 10vh

    &:nth-child(8)
        top: 6%
        left: 80%
        width: 12vh

    @for $i from 2 to 8
        &:nth-child(#{$i}) .floating_crystal
            animation-duration: 3 + (($i - 1) * 1s)

.floating_crystal
    animation: crystal-move 5s linear infinite
