@import '../../../sass/mixins'

// Eight move points   
// @keyframes crystal-move
//     0%
//         translate: 0 0
//     12.5%
//         translate: 6.5% 3.5%
//     25%
//         translate: 10% 10%
//     37.5%
//         translate: 6.5% 16.5%
//     50%
//         translate: 0 20%
//     62.5%
//         translate: -6.5% 16.5%
//     75%
//         translate: -10% 10%
//     87.5%
//         translate: -6.5% 3.5%
//     100%
//         translate: 0 0

// Twelve move points
// @keyframes crystal-move
//     0%
//         translate: 0 0
//     8.33%
//         translate: 5% 1.3%
//     16.66%
//         translate: 8.7% 5%
//     25%
//         translate: 10% 10%
//     33.33%
//         translate: 8.7% 15%
//     41.66%
//         translate: 5% 18.7%
//     50%
//         translate: 0 20%
//     58.33%
//         translate: -5% 18.7%
//     66.66%
//         translate: -8.7% 15%
//     75%
//         translate: -10% 10%
//     83.33%
//         translate: -8.7% 5%
//     91.66%
//         translate: -5% 1.3%
//     100%
//         translate: 0 0

// Sixteen move points
@keyframes crystal-move
    0%
        translate: 0 0
    6.25%
        translate: 3.8% 0.7%
    12.5%
        translate: 7.1% 2.9%
    18.75%
        translate: 9.3% 6.2%
    25%
        translate: 10% 10%
    31.25%
        translate: 9.3% 13.8%
    37.5%
        translate: 7.1% 17.1%
    43.75%
        translate: 3.8% 19.3%
    50%
        translate: 0 20%
    56.25%
        translate: -3.8% 19.3%
    62.5%
        translate: -7.1% 17.1%
    68.75%
        translate: -9.3% 13.8%
    75%
        translate: -10% 10%
    81.25%
        translate: -9.3% 6.2%
    87.5%
        translate: -7.1% 2.9%
    93.75%
        translate: -3.8% 0.7%
    100%
        translate: 0 0

@keyframes crystal-move-strong
    0%
        translate: 0 0
    6.25%
        translate: 7.6% 1.4%
    12.5%
        translate: 14.2% 5.8%
    18.75%
        translate: 18.6% 12.4%
    25%
        translate: 20% 20%
    31.25%
        translate: 18.6% 27.6%
    37.5%
        translate: 14.2% 34.2%
    43.75%
        translate: 7.6% 38.6%
    50%
        translate: 0 40%
    56.25%
        translate: -7.6% 38.6%
    62.5%
        translate: -14.2% 34.2%
    68.75%
        translate: -18.6% 27.6%
    75%
        translate: -20% 20%
    81.25%
        translate: -18.6% 12.4%
    87.5%
        translate: -14.2% 5.8%
    93.75%
        translate: -7.6% 1.4%
    100%
        translate: 0 0

@keyframes crystal-rotate
    0%
        rotate: 0deg
    25%
        rotate: 6deg
    50%
        rotate: 0deg
    75%
        rotate: -6deg
    100%
        rotate: 0deg

.crystal_wrapper
    position: absolute

    &--spiked_1
        top: 22%
        left: 8%
        width: 28vh
        z-index: 5

    &--spiked_2
        top: 54%
        left: 78%
        width: 18vh
        z-index: 4
        & .crystal
            transform: rotateZ(210deg)

    &--spiked_3
        top: 8%
        left: 54%
        width: 13vh
        z-index: 2
        & .crystal
            transform: rotateZ(210deg)

    &--spiked_4
        top: 28%
        left: 43%
        width: 9vh
        z-index: 1
        & .crystal
            transform: rotateZ(45deg)

    &--hero_1
        top: 4%
        left: 65%
        width: 25vh
        z-index: 5
        & .crystal
            transform: rotateZ(350deg)

    &--hero_2
        top: 2%
        left: 21%
        width: 16vh
        z-index: 3
        & .crystal
            transform: rotateZ(322deg) scaleX(-1)

    &--hero_3
        top: 80%
        left: 90%
        width: 10vh
        z-index: 2
        & .crystal
            transform: rotateZ(180deg) scaleX(-1)

    &--hero_4
        top: 71%
        left: 2%
        width: 7vh
        z-index: 2
        & .crystal
            transform: rotateZ(0deg)

    &--hero_5
        top: 16%
        left: 8%
        width: 6vh
        z-index: 2
        & .crystal
            transform: rotateZ(40deg)

    &--hero_6
        top: 12%
        left: 85%
        width: 6vh
        z-index: 1
        & .crystal
            transform: rotateZ(-65deg) scaleX(-1)

    &--hero_7
        top: 50%
        left: 40%
        width: 16vh
        z-index: 4

    &--scroll_1
        top: 16%
        left: 85%
        width: 18vh
        z-index: 4
        & .crystal
            transform: rotateZ(40deg)

    &--scroll_2
        top: 76%
        left: 28%
        width: 6vh
        z-index: 2
        & .crystal
            transform: rotateZ(45deg)

    &--scroll_3
        top: 7%
        left: 38%
        width: 8vh
        z-index: 2
        & .crystal
            transform: rotateZ(5deg)

    &--scroll_4
        top: 61%
        left: 65%
        width: 12vh
        z-index: 3
        & .crystal
            transform: rotateZ(-5deg)

    &--scroll_5
        top: 34%
        left: 56%
        width: 10vh
        z-index: 3

    &--scroll_6
        top: 42%
        left: 29%
        width: 14vh
        z-index: 3
        & .crystal
            transform: rotateZ(30deg)

    &--scroll_7
        top: 61%
        left: 55%
        width: 5vh
        z-index: 1
        & .crystal
            transform: rotateZ(-35deg)

    @include mobile-and-small
        display: none

        &--spiked_1
            display: block
            top: 8%
            left: 70%
            width: 10vh

        &--spiked_2
            display: block
            top: 57%
            left: 3%
            width: 17vh
            & .crystal
                transform: rotateZ(10deg) scaleX(-1)

        &--spiked_4
            display: block
            top: 46%
            left: 37%
            width: 7vh
            & .crystal
                transform: rotateZ(17deg)

        &--hero_1
            display: block
            top: 12%
            left: -1%
            width: 15vh
            z-index: 5

        &--hero_2
            display: block
            top: 29%
            left: 56%
            width: 16vh
            z-index: 5
            & .crystal
                transform: rotateZ(333deg) scaleX(-1)

        &--hero_4
            display: block
            top: 48%
            left: 2%
            width: 4vh
            z-index: 3

        &--hero_7
            display: block
            top: 65%
            left: 67%
            width: 11vh
            z-index: 5
            & .crystal
                transform: rotateZ(350deg) scaleX(1)

        &--scroll_1
            display: block
            top: 14%
            left: 42%
            width: 7vh
            z-index: 3
            & .crystal
                transform: rotateZ(319deg)

        &--scroll_2
            display: block
            top: 6%
            left: 5%
            width: 3vh
            z-index: 3
            & .floating_crystal
                animation: crystal-move-strong 8s linear infinite, crystal-rotate 8s linear infinite
            & .crystal
                transform: rotateZ(342deg)

        &--scroll_4
            display: block
            top: 79%
            left: 48%
            width: 6vh
            z-index: 3
            & .crystal
                transform: rotateZ(306deg) scaleX(-1)

        &--scroll_6
            display: block
            top: 60%
            left: 45%
            width: 7vh
            z-index: 3

        &--scroll_7
            display: block
            top: 89%
            left: 40%
            width: 3vh
            z-index: 3
            & .crystal
                transform: rotateZ(6deg)

    //Quicker way, but less control
    @for $i from 2 to 19
        &:nth-child(#{$i}) .floating_crystal
            animation-duration: 6 + (($i - 1) * 1s), 6 + (($i - 1) * 1s)

.floating_crystal
    animation: crystal-move 8s linear infinite, crystal-rotate 8s linear infinite
    &:-ms-fullscreen
        animation: crystal-move-strong 8s linear infinite, crystal-rotate 8s linear infinite
