@import '../../../sass/mixins'

.project
    perspective: 100vw
    position: absolute
    height: 100%
    width: 100%
    left: 0
    top: 0
    padding-right: 5vw
    display: grid
    grid-template-columns: 46vw 1fr
    gap: 4vw
    background-color: var(--background-color-2)
    border-radius: var(--border-radius-big)
    // &:not(:first-child)
    //     @include desktop
    //         left: 100%
    //     @include mobile-and-small
    //         top: 100%
    @include mobile-and-small
        height: 100%
        grid-template-rows: var(--mobile-miniature-height) 1fr
        grid-template-columns: 1fr
        padding: 0

.info
    display: flex
    flex-direction: column
    gap: 1vh
    justify-content: space-between
    justify-content: center
    line-height: .8
    background-color: var(--background-color-2)
    @include mobile-and-small
        justify-content: flex-start
        gap: 3vw
        padding-left: 2px
        padding-right: 5vw

.name
    color: var(--color-main-2)
    text-align: left
    text-transform: uppercase
    font-size: calc(1.1 * var(--font-size-heading-1))
    letter-spacing: var(--letter-spacing-normal)
    margin-left: -.06em
    margin-right: -.2em
    overflow: hidden
    @include mobile-and-small
        font-weight: 700
        font-size: calc(1.6 * var(--font-size-heading-1))
    @include desktop
        &--pizza_builder
            font-size: calc(1.22 * var(--font-size-heading-1))
            margin-left: -.1em

        &--pizza_vs
            font-size: calc(2.08 * var(--font-size-heading-1))
            margin-left: -.1em

        &--dnails
            font-size: calc(2.57 * var(--font-size-heading-1))
            margin-left: -.1em

        &--atro
            font-size: calc(3.5 * var(--font-size-heading-1))
            margin-left: -.01em

        &--portfolio_v1
            font-size: calc(1.27 * var(--font-size-heading-1))
            margin-left: -.09em
            margin-right: -.3em

.description
    color: var(--color-main-2)
    text-align: left
    font-size: var(--font-size-normal)
    letter-spacing: var(--letter-spacing-tiny)
    line-height: 1.2
    overflow: hidden
    @include mobile-and-small
        margin-top: -.1em

.label
    color: var(--grey-dark)
    text-align: left
    text-transform: uppercase
    font-weight: 700
    font-size: var(--font-size-heading-1)
    margin-left: -.08em
    overflow: hidden
    @include mobile-and-small
        margin-left: -.04em
        letter-spacing: var(--letter-spacing-tiny)
        font-size: calc(1.2 * var(--font-size-heading-1))
    @include desktop
        &:nth-child(1)
            font-size: calc(2.22 * var(--font-size-heading-1))
        &:nth-child(3)
            font-size: calc(1.54 * var(--font-size-heading-1))
        &:nth-child(5)
            font-size: calc(1.4 * var(--font-size-heading-1))
            margin-left: -.02em

        &--english
            &:nth-child(1)
                font-size: calc(2.31 * var(--font-size-heading-1))
                margin-right: -.1em
            &:nth-child(3)
                font-size: calc(1.548 * var(--font-size-heading-1))
                margin-right: -.1em
            &:nth-child(5)
                font-size: calc(1.71 * var(--font-size-heading-1))
                margin-right: -.1em

.slide
    display: inline-block
    position: relative

.capsules
    display: flex
    justify-content: flex-start
    gap: 1.2vh
    flex-wrap: wrap
    @include mobile-and-small
        gap: 2vw

.capsule
    @include flex-center
    font-size: var(--font-size-normal)
    text-transform: uppercase
    letter-spacing: var(--letter-spacing-small)
    color: var(--color-main-2)
    background-color: var(--background-color-1)
    border-radius: calc(1.1 * var(--border-radius-normal))
    padding: .4em .6em
    @include mobile-and-small
        border-radius: calc(.7 * var(--border-radius-normal))
