@import '../../../sass/mixins'

@keyframes shift
    0%
        transform: translate(50%, -50%)
    100%
        transform: translate(-150%, -50%)

.project
    height: 100%
    width: 100%
    position: absolute
    left: 0
    display: grid
    grid-template-columns: 46vw 1fr
    background-color: var(--background-color-2)
    gap: 5vw
    padding-right: 5vw
    border-radius: var(--border-radius-big)
    &:not(:first-child)
        @include desktop
            left: 100%
        @include mobile-and-small
            top: 100%
    // &:nth-child(3n+1)
    //     background-color: var(--color-main-1)
    // &:nth-child(3n+2)
    //     background-color: var(--color-main-2)
    // &:nth-child(3n+3)
    //     background-color: var(--color-main-3)
    @include mobile-and-small
        height: 100%
        grid-template-rows: 36vh 1fr
        grid-template-columns: 1fr
        padding: 0 4vw

.info
    display: flex
    flex-direction: column
    line-height: .7
    gap: 1vw
    justify-content: space-between
    justify-content: center
    @include mobile-and-small
    justify-content: flex-start

.name
    text-align: left
    text-transform: uppercase
    color: var(--color-main-2)
    font-size: calc(1.08*var(--font-size-heading-1))
    // font-weight: 700
    // letter-spacing: var(--letter-spacing-normal)

.description
    text-align: left
    color: var(--color-main-2)
    font-size: var(--font-size-normal)
    line-height: 1.2

.label
    text-align: left
    text-transform: uppercase
    color: var(--grey-dark)
    font-weight: 700
    // letter-spacing: var(--letter-spacing-normal)

.capsules
    display: flex
    justify-content: flex-start
    gap: 1vw
    flex-wrap: wrap

.capsule
    @include flex-center
    font-size: var(--font-size-normal)
    text-transform: uppercase
    letter-spacing: var(--letter-spacing-small)
    color: var(--color-main-2)
    background-color: var(--background-color-1)
    border-radius: var(--border-radius-normal)
    padding: .4em .6em

// .project_name
//     width: max-content
//     position: absolute
//     font-size: calc(2*var(--font-size-heading-1))
//     top: 5%
//     left: 50%
//     color: var(--color-main-2)
//     text-transform: uppercase
//     font-weight: 700
//     mix-blend-mode: exclusion
//     transform: translate(-50%, -50%)
//     animation: shift 15s both linear
