@import '../../../../sass/mixins'

.image_portal
    border-radius: var(--border-radius-big)
    // background-image: radial-gradient(50% 50%, #525252, #464646 )
    // background-color: #1d1e22
    background-color: var(--background-color-1)
    background-color: var(--color-font-1)
    position: relative
    overflow: hidden
    border: 1vh solid var(--color-main-2)
    &::before
        @include before-after
        width: 100%
        height: 100%
        // background-image: radial-gradient(circle at 80% 110%, #4fd39770, transparent 50%), radial-gradient(circle at 30% -70%, #4fd39770, transparent 50%)
        // background-image: url('../../../media/test.svg')
        background-size: cover

.wrapper
    &_logo
        width: 80%
        aspect-ratio: 4/3
        top: 50%
        left: 50%
        position: absolute
        border-radius: var(--border-radius-big)
        filter: drop-shadow(15px 15px 30px #2c363f85)
        // filter: drop-shadow(15px 15px 30px #3b3b3b8a)
        overflow: hidden
        transform: translate(-50%, -50%)
        @include mobile-and-small
            border-radius: var(--border-radius-big)
    &_screenshots
        width: 100%
        height: 100%

.image_logo
    width: 100%
    height: 100%
    // top: 0%
    // left: 0%
    // position: absolute
    object-fit: cover
    // scale: 1.1

.screenshot
    &_mobile
        top: 130%
        left: 80%
        position: absolute
        width: 25%
        // aspect-ratio: 9/18
        // object-fit: cover
        border-radius: calc(0.7 * var(--border-radius-big))
        // filter: drop-shadow(15px 15px 30px #131313)
        // filter: drop-shadow(15px 15px 30px #d1ceb2)
        filter: drop-shadow(15px 15px 30px #2c363f85)
        transform: translate(-50%, -50%)
        @include mobile-and-small
            border-radius: calc(0.8 * var(--border-radius-normal))
    &_desktop, &_code
        top: 130%
        width: 60%
        position: absolute
        border-radius: calc(0.7 * var(--border-radius-big))
        filter: drop-shadow(15px 15px 30px #2c363f85)
        transform: translate(-50%, -50%)
        &:nth-child(1n)
            left: 40%
        &:nth-child(2n)
            left: 60%
