@mixin before-after
    content: ""
    display: block
    position: absolute

@mixin zero-hundred
    top: 0
    left: 0
    width: 100%
    height: 100%

@mixin flex-center
    display: flex
    justify-content: center
    align-items: center

@mixin mobile-and-small
    @media (orientation: portrait), (max-width: 600px)
        @content

@mixin desktop
    @media (orientation: landscape) and (min-width: 600px)
        @content

@mixin section
    display: grid
    position: relative
    @include desktop
        grid-template-columns: calc(45vw - 66vh) 1fr
    @include mobile-and-small
        // grid-template-columns: 10vw 1fr
        grid-template-rows: 16vh 1fr
