.App
    --background-color-1: #1d2020

    --main-color-1: #83ce63
    --main-color-2: #4fcd94
    --main-color-3: #21ced1

    --border-radius-normal: 1vh

    // &--light
    //--main-color-1: # FF8C6B
    //--main-color-2: # E37387 
    //--main-color-3: # B36997 

    //--background-color-1: # 31292e
