.App
    --background-color-1: #1d2020
    --background-color-2: #292c30
    --background-color-3: #2C363F
    // --background-color-2: # 1f242a
    // --background-color-2: # 282d33

    --background-color-1: #202020
    --background-color-2: #333331

    --color-main-1: #83ce63
    --color-main-2: #4fd397
    --color-main-3: #21ced1

    --color-main-1: #94F580
    --color-main-2: #51DA9F
    --color-main-3: #0DBFBD

    --color-main-5: #c7779e
    --color-main-4: #e2fb53

    --grey-light: #ddd
    --grey-medium: #888888
    --grey-dark: #555
    // #171A21, #2C363F, #2D2D2A, #4C4C47, #343434, #342E37, #4C5760, #494947, #617073, #706F6F, #8F8389, 

    --border-radius-normal: 1vh
    --border-radius-big: 3vh

    --font-size-heading-2: 1.8vw
    --font-size-normal: 1.2vw

    --card-mask-size: 62px
    --card-border-size: 6px

    --skew: -6deg

    //# 1f242a
    //# 282d33
    //# 292c30

    // &--light
    //--color-main-1: # FF8C6B
    //--color-main-2: # E37387 
    //--color-main-3: # B36997 

    //--background-color-1: # 31292e
