@import './sass/mixins'

.App
  text-align: center
  box-sizing: border-box
  display: flex
  flex-direction: column
  background-color: var(--background-color-1)
  position: relative
  overflow-x: hidden

.eh
  height: 100px
  width: 100px
  background-color: red
  position: absolute
  top: 60vh
  right: 0%
  // left: 20vh
  z-index: 9999999999

// .esz
//   position: absolute
//   width: 50vh
//   height: 50vh
//   right: 10vh
//   z-index: 1

#motionPath
  fill: none
  stroke: red
  stroke-width: 2px
