@import './sass/mixins'

.App
  text-align: center
  box-sizing: border-box
  display: flex
  flex-direction: column
  background-color: var(--background-color-1)
  position: relative
  overflow-x: hidden

#motionPath
  fill: none
  stroke: var(--color-main-3)
  stroke-width: 2px
