@import '../../sass/mixins'

@keyframes warp-bg
    100%
        transform: skewY(1deg) translateY(0%)

.projects
    @include section
    position: relative
    background-color: var(--background-color-2)
    height: 100vh
    grid-template-rows: 12vh 1fr 12vh
    overflow: hidden
    @include mobile-and-small
        transition: height var(--freeze)
        grid-template-rows: 26vw 1fr 26vw
        grid-template-columns: 100vw

.gallery
    position: relative
    display: flex
    grid-column: 2 / 3
    grid-row: 2
    @include mobile-and-small
        grid-column: 1
        grid-row: 2 / 4

.project
    height: 100%
    width: 100%
    position: absolute
    left: 0
    font-size: 40px
    &:not(:first-child)
        @include desktop
            left: 100%
        @include mobile-and-small
            top: 100%
    &:nth-child(3n+1)
        background-color: var(--color-main-1)
    &:nth-child(3n+2)
        background-color: var(--color-main-2)
    &:nth-child(3n+3)
        background-color: var(--color-main-3)
    @include mobile-and-small
        height: 100%
    // &:nth-child(5n+4)
    //     background-color: var(--color-main-3)
    // &:nth-child(5n+5)
    //     background-color: var(--color-main-5)
