@import '../../../sass/mixins'

.changer
    justify-self: end
    height: 4.4vh
    width: 10.4vh
    background-color: var(--color-font-1)
    border-radius: 2.2vh
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    @include mobile-and-small
        height: 8.8vw
        width: 20.8vw

.indicator
    position: absolute
    top: .2vh
    right: .2vh
    bottom: .2vh
    left: .2vh
    border-radius: 2vh
    overflow: hidden
    z-index: 1
    transition: .3s
    &::before
        @include before-after
        width: 100%
        height: 100%
        border-radius: 2vh
        background-color: var(--color-gradient-3)
        transition: .3s transform
    @include mobile-and-small
        top: .4vw
        right: .4vw
        bottom: .4vw
        left: .4vw
        border-radius: 4vw

        &--english
            &::before
                transform: translate(-12vw, 0%)

        &--polish
            &::before
                transform: translate(12vw, 0%)

    &--english
        &::before
            transform: translate(-6vh, 0%)

    &--polish
        &::before
            transform: translate(6vh, 0%)

.button
    all: unset
    cursor: pointer
    width: 4vh
    height: 4vh
    border-radius: 50%
    font-size: calc(.8 * var(--font-size-normal))
    letter-spacing: var(--letter-spacing-tiny)
    font-weight: bold
    z-index: 2
    color: var(--background-color-2)
    background-color: transparent
    transition: color .3s, background-color .4s
    margin: .2vh
    &:hover, &:focus-visible
        background-color: var(--color-main-1)
        color: var(--color-font-1)
    @include mobile-and-small
        margin: .4vw
        font-size: calc(.9 * var(--font-size-normal))
        width: 8vw
        height: 8vw

.selected
    color: var(--color-font-1)
    transition: color .3s .1s, background-color .4s
    &:hover, &:focus-visible
        background-color: var(--color-gradient-3)
