@import '../../../sass/mixins'

@keyframes background-position
    0%
        background-position: 0% 0%
    50%
        background-position: 100% 0%
    100%
        background-position: 0% 0%

%side
    @include zero-hundred
    position: absolute
    z-index: 3
    border-radius: var(--border-radius-normal)
    backface-visibility: hidden
    overflow: hidden
    transition: transform .6s ease-in-out

.card
    flex: 1 1 0
    perspective: 75vw
    cursor: pointer
    filter: drop-shadow(0 5px 20px rgba(0, 0, 0, .2))

    &__front
        @extend %side
        display: flex
        flex-direction: column
        align-items: center
        transform: rotateY(0deg)
        justify-content: center
        &::before
            @include before-after
            @include zero-hundred
            border-radius: var(--border-radius-normal)
            z-index: 1
            background-size: 400%
            animation: background-position 10s ease infinite
        &::after
            @include before-after
            top: var(--card-border-size)
            left: var(--card-border-size)
            bottom: var(--card-border-size)
            right: var(--card-border-size)
            border-radius: calc(var(--border-radius-normal) * 3/5)
            background-color: var(--background-color-2)
            mask-image: url('../../../media/romboid_small.svg')
            mask-size: var(--card-mask-size)
            mask-position: center
            z-index: 2

        &--first
            &::before
                @include gradient-middle(-45deg, var(--color-main-1), var(--grey-medium))

        &--second
            &::before
                @include gradient-middle(-45deg, var(--color-main-2), var(--grey-medium))

        &--third
            &::before
                @include gradient-middle(-45deg, var(--color-main-3), var(--grey-medium))

    &__back
        @extend %side
        display: block
        position: relative
        transform: rotateY(180deg)
        justify-content: space-between
        display: flex
        justify-content: center
        align-items: center
        &::before
            @include before-after
            @include zero-hundred
            border-radius: var(--border-radius-normal)
            z-index: -2
            background-size: 80%
            background-position: 50% 25%

        // &::after
        //     @include before-after
        //     top: 18%
        //     left: 6px
        //     bottom: 6px
        //     right: 6px
        //     border-radius: 0 0 calc(var(--border-radius-normal) * 3/5) calc(var(--border-radius-normal) * 3/5)
        //     background-color: var(--background-color-2)
        //     z-index: -1
        //     clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%)

        &--first
            &::before
                background-image: url('../../../media/bg1.svg'), linear-gradient(var(--color-main-1), var(--color-main-1))

        &--second
            &::before
                background-image: url('../../../media/bg2.svg'), linear-gradient(var(--color-main-2), var(--color-main-2))
        &--third
            &::before
                background-image: url('../../../media/bg3.svg'), linear-gradient(var(--color-main-3), var(--color-main-3))

        // &--first
        // &--second
        // &--third

    &:hover &__front
        transform: rotateY(-180deg)

    &:hover &__back
        transform: rotateY(0deg)

    &__skew_wrapper
        position: absolute
        top: var(--card-border-size)
        left: var(--card-border-size)
        bottom: var(--card-border-size)
        right: var(--card-border-size)
        border-radius: calc(var(--border-radius-normal) * 3/5)
        // background-color: red
        overflow: hidden
        display: flex
        flex-direction: column

    &__title
        display: block
        position: relative
        padding: 15px 40px
        z-index: 4
        font-size: var(--font-size-heading-2)
        text-transform: uppercase
        background-color: var(--background-color-2)
        border-radius: var(--border-radius-big)

        &--first
            color: var(--color-main-1)

        &--second
            color: var(--color-main-2)

        &--third
            color: var(--color-main-3)

        &--back
            border-radius: 0
            margin: 5vh 0 var(--card-border-size) 0
            padding: 15px 0
            transform: skewY(-7.5deg)
            width: 100%

    &__icon
        position: relative
        z-index: 4
        align-self: end
        margin: 0 2vh 2vh 0

        &_image
            height: 4vh
            width: 4vh

            &--first
                fill: var(--color-main-1)

            &--second
                fill: var(--color-main-2)

            &--third
                fill: var(--color-main-3)

    &__skills
        flex-grow: 1
        color: var(--grey-light)
        padding: 0
        list-style-type: none
        margin-bottom: -4vh
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        position: relative
        &::before
            @include before-after
            @include zero-hundred
            height: 120%
            background-color: var(--background-color-2)
            transform: skewY(-7.5deg)
            z-index: -1

    &__skill
        font-size: var(--font-size-normal)
        text-transform: uppercase
        line-height: 1.6em
        display: inline-block
        padding: 0 10px 0 10px

        &--first
            border-color: var(--color-main-1)

        &--second
            border-color: var(--color-main-2)

        &--third
            border-color: var(--color-main-3)

        &:not(:last-child)
            border-width: 2px
            border-bottom-style: solid
