@import '../../../sass/mixins'

@keyframes background-position
    0%
        background-position: 0% 0%
    50%
        background-position: 100% 0%
    100%
        background-position: 0% 0%

.card
    // flex: 1 1 0
    perspective: 75vw
    cursor: pointer
    filter: drop-shadow(0 5px 20px rgba(0, 0, 0, .2))
    z-index: 2
    height: 60vh
    width: 44vh
    // transition: transform .3s ease
    // transition-delay: .6s
    &:hover
        // transform: scale(1.08)
        // transition-delay: 0s
        .frontside
            // transition-delay: .3s
            transform: rotateY(-180deg)
        .backside
            // transition-delay: .3s
            transform: rotateY(0deg)

    @include mobile-and-small
        height: 50vh
        width: 70vw
        perspective: 140vh
        margin: 0
        &:nth-of-type(2)
            align-self: end

%side
    @include zero-hundred
    position: absolute
    z-index: 3
    backface-visibility: hidden
    overflow: hidden
    border-radius: var(--border-radius-normal)
    transition: transform .6s ease-in-out

.frontside
    @extend %side
    @include flex-center
    flex-direction: column
    &::before
        @include before-after
        @include zero-hundred
        z-index: 1
        border-radius: var(--border-radius-normal)
        background-size: 400%
        animation: background-position 10s ease infinite
    &::after
        @include before-after
        z-index: 2
        top: var(--card-border-size)
        left: var(--card-border-size)
        bottom: var(--card-border-size)
        right: var(--card-border-size)
        border-radius: calc(var(--border-radius-normal) * 3/5)
        background-color: var(--background-color-2)
        mask-image: url('../../../media/romboid_small.svg')
        mask-size: var(--card-mask-size)
        mask-position: center

    &_frontend
        composes: frontside
        &::before
            background-image: linear-gradient(-45deg, var(--grey-medium), var(--color-main-1), var(--grey-medium))

    &_backend
        composes: frontside
        &::before
            background-image: linear-gradient(-45deg, var(--grey-medium), var(--color-main-2), var(--grey-medium))

    &_graphics
        composes: frontside
        &::before
            background-image: linear-gradient(-45deg, var(--grey-medium), var(--color-main-3), var(--grey-medium))

.backside
    @extend %side
    display: block
    transform: rotateY(180deg)
    &::before
        @include before-after
        @include zero-hundred
        z-index: -2
        border-radius: var(--border-radius-normal)
        background-size: 80%
        background-position: 50% 25%

    &_frontend
        composes: backside
        &::before
            background-image: url('../../../media/bg1.svg'), linear-gradient(var(--color-main-1), var(--color-main-1))

    &_backend
        composes: backside
        &::before
            background-image: url('../../../media/bg2.svg'), linear-gradient(var(--color-main-2), var(--color-main-2))

    &_graphics
        composes: backside
        &::before
            background-image: url('../../../media/bg3.svg'), linear-gradient(var(--color-main-3), var(--color-main-3))

.skew_wrapper
    position: absolute
    display: flex
    flex-direction: column
    overflow: hidden
    top: var(--card-border-size)
    left: var(--card-border-size)
    bottom: var(--card-border-size)
    right: var(--card-border-size)
    border-radius: calc(var(--border-radius-normal) * 3/5)

.title
    @include flex-center
    z-index: 4
    font-size: var(--font-size-heading-2)
    text-transform: uppercase
    background-color: var(--background-color-2)
    border-radius: var(--border-radius-big)
    width: 30vh
    height: 7vh

    &_frontend
        composes: title
        color: var(--color-main-1)

    &_backend
        composes: title
        color: var(--color-main-2)

    &_graphics
        composes: title
        color: var(--color-main-3)

    &_skewed
        border-radius: 0
        margin: 5vh 0 var(--card-border-size) 0
        transform: skewY(var(--skew))
        width: 100%

.crystal
    position: absolute
    z-index: 4
    height: 60vh
    @include mobile-and-small
        height: 50vh

.skills
    @include flex-center
    flex-direction: column
    flex-grow: 1
    position: relative
    padding: 0
    color: var(--grey-light)
    list-style-type: none
    &::before
        @include before-after
        @include zero-hundred
        z-index: -1
        height: 120%
        background-color: var(--background-color-2)
        transform: skewY(var(--skew))

.skill
    font-size: var(--font-size-normal)
    text-transform: uppercase
    line-height: 1.8em
    padding: 0 1vh 0 1vh
    &:not(:last-child)
        border-width: 2px
        border-bottom-style: solid

    &_frontend
        composes: skill
        border-color: var(--color-main-1)

    &_backend
        composes: skill
        border-color: var(--color-main-2)

    &_graphics
        composes: skill
        border-color: var(--color-main-3)

.icon
    position: absolute
    bottom: 2vh
    right: 2vh
    z-index: 4
