@import '../../../sass/mixins'

.menu
    display: flex
    grid-row: 3
    grid-column: 2/4
    align-items: center
    @include mobile-and-small
        grid-row: 3
        grid-column: 3
        // background-color: var(--background-color-2)
        z-index: 999
        flex-direction: column
        justify-content: center
        align-items: flex-end
        gap: 4vh
        margin-top: -2vh

.wrapper
    @include flex-center
    @include desktop
        flex-grow: 1

.button
    @include flex-center
    border: none
    background-color: transparent
    cursor: pointer
    padding: 1em
    outline: none
    color: var(--grey-dark)
    &--active
        color: var(--color-font-1)
    &:hover, &:focus
        color: var(--color-main-2)
    @include mobile-and-small
        padding: 0
        width: 1.4vh
        height: 1.4vh
        border-radius: 50%
        background-color: var(--grey-dark)
        outline: .3vh solid transparent
        transition: outline-color .2s, outline-offset .2s, background-color .2s
        &:hover, &:focus
            background-color: var(--color-font-1)
        &--active
            background-color: var(--color-font-1)
            outline-color: var(--color-main-2)
            outline-offset: .5vh

.text
    font-size: var(--font-size-heading-3)
    text-transform: uppercase
    transition: .5s color
    @include mobile-and-small
        display: none
