@import '../../sass/mixins'

@keyframes show
    0%
        opacity: 0
        transform: translate(-50%, -110%) scale(.9)
    10%
        opacity: 1
        transform: translate(-50%, -110%) scale(1)
    90%
        opacity: 1
        transform: translate(-50%, -110%) scale(1)
    100%
        opacity: 0
        transform: translate(-50%, -110%) scale(.9)

.contact
    @include section
    overflow: hidden
    @include mobile-and-small
        margin-top: 8vh
        grid-template-rows: 24vh 1fr 12vh

.wrapper
    @include flex-center
    height: 100vh
    position: relative
    overflow: hidden
    grid-column: 1 / 4
    grid-row: 1
    z-index: 99
    @include mobile-and-small
        grid-column: 1
        grid-row: 2 / 3
        height: unset
    &_input
        flex-grow: 1
        display: flex
        position: relative
    &_textarea
        flex-grow: 8
        display: flex
        position: relative

.form_card
    width: 40vw
    height: 66vh
    background-color: var(--background-color-transparent)
    backdrop-filter: blur(10px)
    z-index: 999
    border-radius: var(--border-radius-normal)
    border: 2px solid var(--border-color-transparent)
    @include mobile-and-small
        width: 80vw
        height: 120vw

.form
    @include flex-center
    flex-direction: column
    align-items: stretch
    width: 100%
    height: 100%
    gap: 4vh
    padding: 4vh
    @include mobile-and-small
        padding: 6vw
        gap: 6vw

.label
    position: absolute
    top: 50%
    left: .8vw
    transform: translateY(-50%)
    color: #e2e2e2
    font-size: calc(0.8 * var(--font-size-normal))
    font-weight: 300
    letter-spacing: var(--letter-spacing-small)
    text-transform: uppercase
    transition: color .5s
    overflow: hidden
    @include mobile-and-small
        left: 1.8vw
        font-size: calc(0.9 * var(--font-size-normal))

.error_message
    position: absolute
    opacity: 0
    top: 0vh
    left: 50%
    width: max-content
    max-width: 100vw
    padding: .1em .4em
    transform: translate(-50%, -110%)
    font-size: calc(0.8 * var(--font-size-normal))
    font-weight: 400
    letter-spacing: var(--letter-spacing-small)
    text-transform: uppercase
    color: var(--color-error)
    background-color: var(--grey-light)
    border-radius: var(--border-radius-small)
    border: 1px solid var(--color-error)
    filter: drop-shadow(2px 2px 4px #00000050)
    animation: show 3s forwards
    &::before
        @include before-after
        z-index: -1
        height: .6vw
        width: .6vw
        background-color: var(--grey-light)
        left: 50%
        bottom: 0
        transform: translate(-50%, 50%) rotateZ(45deg)
        border: 1px solid transparent
        border-right-color: var(--color-error)
        border-bottom-color: var(--color-error)
        @include mobile-and-small
            height: 2vw
            width: 2vw

.text
    display: inline-block
    position: relative
    transform: translateX(-100%)
    transition: transform .3s ease-out

.input, .textarea
    all: unset
    background-color: #22222281
    border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0
    color: #e2e2e2
    font-size: var(--font-size-normal)
    font-weight: 300
    width: 100%
    transition: border .5s
    outline: none
    border: 2px solid transparent
    padding: 0em 3em 0em 3em
    &::placeholder
        text-transform: uppercase
    &:focus, &:hover
        border-left-color: var(--color-main-3)
        & + .label
            color: var(--color-main-3)
    &:not(:placeholder-shown)
        & + .label > .text
            transform: translateX(0%)

.textarea
    resize: none
    padding: 1em 1.8em 1em 1.8em
    & + .label
        writing-mode: vertical-rl
        text-orientation: upright
        margin-left: -.1vw
        letter-spacing: 0

.untouched
    border-left-color: var(--grey-dark)
    & + .label
        color: var(--grey-dark)
.valid
    border-left-color: var(--color-main-2)
    & + .label
        color: var(--color-main-2)

.error
    border-color: var(--color-error)
    & + .label
        color: var(--color-error)

.sent
    border-left-color: var(--color-gradient-3)
    & + .label
        color: var(--color-gradient-3)
