@import '../../sass/mixins'

.footer
    display: grid
    grid-template-columns: 1fr max-content 1fr
    gap: 3vw
    align-items: center
    height: 10vh
    background-image: linear-gradient(135deg, var(--color-gradient-1), var(--color-gradient-2), var(--color-gradient-3))
    padding: 0 3vw
    overflow: hidden
    @include mobile-and-small
        padding: 0 5vw
        height: 20vh

.icons
    display: flex
    gap: 1.5vw
    justify-self: start
    @include mobile-and-small
        flex-direction: column
        gap: 2vh

.link
    position: relative
    width: 4vh
    height: 4vh
    &::before
        @include before-after
        background-color: var(--background-color-1)
        border-radius: 50%
        width: 3vh
        height: 3vh
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        transition: background-color .4s
    &:hover
        & .icon
            fill: var(--color-gradient-3)
        &::before
            background-color: var(--color-font-1)

.icon
    width: 4vh
    height: 4vh
    fill: var(--color-gradient-3)
    fill: var(--color-font-1)
    transition: fill .4s
    position: relative

.copy
    color: var(--color-font-1)
    font-size: var(--font-size-big)

.lang, .theme
    @include flex-center
    cursor: pointer
    text-transform: uppercase
    color: var(--color-main-3)
    font-size: calc(.8 * var(--font-size-normal))
    background-color: var(--color-font-1)
    justify-self: end
    width: 4vh
    height: 4vh
    border-radius: 50%
    user-select: none
